.navbar1{
    background-color: rgb(173, 233, 233);
    transition: 1s ease;
}
.active1{
    background-color: whitesmoke;
}
.search{
    margin-left: 200px;
}
.img1{
    border: 2px solid black;
    border-radius: 10%;
}
.pp1{
    text-align: justify;
    margin: 10px 20px;
}
.about:hover{
    box-shadow: 1px 1px 10px 1px rgb(218, 63, 135);
}
.hari{
    position: fixed;
    top: 80px;
    left: 40%;
}
.footer{
    /* background-image: url(footer1.png); */
    background-color: rgb(105, 102, 102);
    background-size: cover;
    /* opacity: 0.3; */
    width: auto;
}
.whats{
    color: rgb(46, 228, 46);
}
.whats:hover{
    box-shadow: 1px 1px 10px 1px;
}
.insta{
    color: rgb(240, 74, 240);
}
.insta:hover{
    box-shadow: 1px 1px 10px 1px;
}
.face{
    color: rgb(58, 58, 228);
}
.face:hover{
    box-shadow: 1px 1px 10px 1px;
}
.linked{
    color: blue;
}
.linked:hover{
    box-shadow: 1px 1px 10px 1px;
}.ppl{
    text-align: justify;
}
h6:hover{
    color: skyblue;
    cursor: pointer;
}
.cursor{
    cursor: pointer;
}

@media screen and (max-width:575.98px) {
    .column{
        display: flex;
        flex-direction: column;
    }
    .img1{
        width: 50%;
    }
    .about1{
        background-color: skyblue;
        margin-top: 50px;
    }
}
@media screen and (max-width:767.98px) {
    .hari{
        position: fixed;
        top: 300px;
        left: 200px;
        padding: 20px;
    }
    .navbar-toggler{
        margin-left: 150px;
    }
    .column{
        display: flex;
        flex-direction: column;
    }
    .img1{
        width: 30%;
    }
    .foo{
        flex-direction: column;
    }
}
