html{
    scroll-behavior: smooth;
}
.navbar1{
    background-color: rgb(173, 233, 233);
    transition: 1s ease;
}
.active1{
    background-color: whitesmoke;
}
.hari{
    position: fixed;
    top: 80px;
    left: 40%;
}
.search{
    margin-left: 200px;
}
.card:hover{
    box-shadow: 1px 1px 10px 5px rgb(248, 195, 220);
    transition: 1 ease;
}
.footer{
    /* background-image: url(footer1.png); */
    background-color: rgb(105, 102, 102);
    background-size: cover;
    /* opacity: 0.3; */
    width: auto;
}
.whats{
    color: rgb(46, 228, 46);
}
.whats:hover{
    box-shadow: 1px 1px 10px 1px;
}
.insta{
    color: rgb(240, 74, 240);
}
.insta:hover{
    box-shadow: 1px 1px 10px 1px;
}
.face{
    color: rgb(58, 58, 228);
}
.face:hover{
    box-shadow: 1px 1px 10px 1px;
}
.linked{
    color: blue;
}
.linked:hover{
    box-shadow: 1px 1px 10px 1px;
}.ppl{
    text-align: justify;
}
h6:hover{
    color: skyblue;
    cursor: pointer;
}
.cursor{
    cursor: pointer;
}
@media screen and (max-width:575.98px) {
    .ccard{
        width: 28rem;
    }
}
@media screen and (max-width:767.98px) {
    .hari{
        position: fixed;
        top: 300px;
        left: 200px;
        padding: 20px;
    }
    .navbar-toggler{
        margin-left: 150px;
    }
    .foo{
        flex-direction: column;
    }
    .ccard{
        width: 21rem;
    }
    .cdcard{
        width: 20rem;
    }
    .webcatt{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
